html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px tan;
}
#alert {
  height: 5vh;
  width: 40vw;
  border: solid 1px rgb(255, 0, 221);
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
}
.ship {
  display: inline-flex;
  flex-direction: row;
  border: solid 0.5px black;
}
.selected {
  background-color: blue;
}
.shipPlaced {
  background-color: red;
}
.cell {
  height: 40px;
  width: 40px;
  border: solid 0.5px black;
  box-sizing: border-box;
}

#Board {
  width: 400px;
  height: 400px;
  border: solid 2px blue;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
